<div class="pt-3">
  <div class="row p-0 m-0">
    <div class="col-7 p-0">
      <h4 class="fs-4 fw-heavy">
        <img
          src="../../../assets/keyboard/more.svg"
          class="align-text-middle px-2 pb-1"
          alt="keyboard"
        />Extra Options
      </h4>
    </div>
  </div>
</div>
<div class="container-fluid px-3">
<div class="row">
  <div class="col p-0 m-1">
    <button
      class="btn btn-outline-secondary border-0 fs-4 w-100 h-100"
      (click)="diagnostic()"
    >
      <img
        class="pt-3 pb-2"
        src="../../../assets/extra/bug.svg"
        alt="diagnostics"
      /><br />Diagnostics
    </button>
  </div>
  <div class="col p-0 m-1">
    <button
      class="btn btn-outline-secondary border-0 fs-4 w-100 h-100"
      (click)="keyboard()"
    >
      <img
        class="pt-3 pb-2"
        src="../../../assets/extra/keyboard.svg"
        alt="settings"
      /><br />Keyboard
    </button>
  </div>
  <div class="col p-0 m-1">
    <button
      class="btn btn-outline-secondary border-0 fs-4 w-100 h-100"
      (click)="battery()"
    >
      <img
        class="pt-3 pb-2"
        src="../../../assets/battery/battery.svg"
        alt="settings"
      /><br />Battery
    </button>
  </div>
  <div class = "col p-0 m-1">
    <button
      class="btn btn-outline-secondary border-0 fs-4 w-100 h-100"
      (click)="settings()"
    >
      <img
        class="pt-3 pb-2"
        src="../../../assets/extra/settings.svg"
        alt="settings"
      /><br />Settings
    </button>
  </div>
  
</div>
</div>

